* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f1f1f1;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
body {
  background-color: #f1f1f1;
  background-image: url("netflix-bg.jpg");
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  font-size: 60px;
}
p {
  color: #fff;
  font-size: 20px;
}

.header-red {
  color: red;
}

header {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: brightness(0%);
  padding: 10px;
  margin: auto;
  position: sticky;
  top: 0;
  bottom: 20px;
  z-index: 1;
}

.shadowed-section {
  -webkit-backdrop-filter: blur(10px);
  overflow: scroll;
  display: block;
  padding: 0px;
  margin: 20px auto;
  width: 80%;
  height: 95vh;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
::-webkit-scrollbar {
    display: none;
}
.survey-block {
  -webkit-backdrop-filter: blur(10px);
  display: block;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  height: auto;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.form-control {
  text-align: start;
  display: block;
  margin: 20px auto;
}
button {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.text-typed-inputs {
  text-align: start;
  height: 30px;
  width: 32vw;
  color: #000;
  padding: 5px;
}

option {
  text-align: start;
}

textarea {
  text-align: start;
  padding: 5px;
  display: block;
  width: 32vw;
  height: 10vh;
  border-radius: 5px;
  resize: none;
  color: #464444;
}
textarea:focus {
  outline: none;
  border: 1px solid #e74c3c;
}

label {
  text-align: start;
  display: block;
  margin: 5px auto;
  color: #fff;
  font-size: 17px;
}
